{% extends 'layout.html' %} {% block content %}
<div id="adminpages">
  <div id="store">
    <r><label for="name">가게 이름</label>
    <button type="submit" onclick="">수정</button>
    <button type="submit" onclick="">삭제</button></r>
    <div id="menu">
      <r><label for="name">메뉴</label>
      <button type="submit" onclick="">수정</button>
      <button type="submit" onclick="">삭제</button></r>
    </div>
    <rr><label for="point">보유한 포인트</label></rr>
    <v><a href="/getStoreId"><button>메뉴 등록하기</button></a>
       <a href="/adminOrders/{{store_id}}"><button>주문내역 조회하기</button></a></v>
    <!-- <div class="white-space"></div> -->
  </div>
</div>
{%endblock%} {% block script %}
<script></script>
{%endblock%}