{% extends 'layout.html' %} {% block content %}
<div id="adminpages">
  <div id="store">
    <r class="storedesc" id="storedesc"><label for="name">{{store.store.name}}</label>
      <a href="/getStoreUpdate"><button>수정</button></a>
    <button class="storeDeleteBtn">삭제</button></r>
    {% for el in store.menu %}
    <div id="menu">
      <r class="{{el.menu_id}}" id="storedes"><label for="name">{{el.name}}</label>
      <a href="/getMenuUpdate/{{el.menu_id}}"><button>수정</button></a>
      <button class="menuDeleteBtn">삭제</button></r>
    </div>
    {% endfor %}
    <rr><label for="point">{{store.store.point}}</label></rr>
    <v><a href="/getStoreId"><button>메뉴 등록하기</button></a>
       <a href="/adminOrders/{{store.store.store_id}}"><button>주문내역 조회하기</button></a></v>
    <!-- <div class="white-space"></div> -->
  </div>
</div>
{%endblock%} {% block script %}
<script>
  const storeDeleteBtn = document.querySelector('.storeDeleteBtn');
  storeDeleteBtn.addEventListener('click', async (e) => {
    e.preventDefault();

    axios.delete('/stores/{{store.store.store_id}}')
    .then((res)=>{alert('가게삭제완료')})
  })
   
  

   
    $('.menuDeleteBtn').each((idx,store)=>{
      $(store).click(()=>{
        const menu_id = $('#storedes').attr('class');
       axios.delete(`/stores/{{store.store.store_id}}/menu/${menu_id}`).then(()=>{
        location.reload();
       })
         
       
      })
    })
</script>
{%endblock%}