{% extends 'layout.html' %} {% block content %}

<div id="choice_wrap2">
  {%for cart in carts%}
  <div class="{{cart.cart_id}}" id="menu_wrap">
    <p id="menu_detail_title">{{cart.menu}}</p>
    <p id="menu_detail_price">{{cart.price}}</p>
    <p id="won">원</p>

    <div id="menu_detail_ea">
      <p>수량</p>
      <button class="{{cart.cart_id}}" id="sub" onclick="sub('{{cart.cart_id}}')">-</button>
      <p id="{{cart.cart_id}}">{{cart.ea}}</p>
      <button class="{{cart.cart_id}}" id="add" onclick="add('{{cart.cart_id}}')">+</button>
    </div>
    <hr />
  </div>
  {%endfor%}

  <div id="ea_info">
    <p>총 주문금액</p>
    <span id="total_price">{{total.price}}원</span>
  </div>
  <a href="/orderCheck" id="botton_bottom"><button id="order_complet">주문하기</button></a>
</div>
<nav id="nav6">
  <a href="/"><img src="/images/home_FILL0_wght400_GRAD0_opsz48.png" /></a>
  <a href="/myDibs"><img src="/images/favorite_FILL0_wght400_GRAD0_opsz48.png" /></a>
  <a href="/userOrders"><img src="/images/text_snippet_FILL0_wght400_GRAD0_opsz48.png" /></a>
  <a href="/user"><img id="profile" src="/images/person_FILL0_wght400_GRAD0_opsz48.png" /></a>
</nav>

{%endblock%} {%block script%}
<script>
  let ea;
  function sub(cart_id) {
    ea = $(`#${cart_id}`).text();
    ea = parseInt(ea) - 1;
    axios.put(`/carts?cart_id=${cart_id}&ea=${ea}`).then(() => {
      window.location.reload();
    })
  }

  function add(cart_id) {
    ea = $(`#${cart_id}`).text()
    ea = parseInt(ea) + 1;
    axios.put(`/carts?cart_id=${cart_id}&ea=${ea}`).then(() => {
      window.location.reload();
    })
  }

</script>
{% endblock %}