<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="../public/style.css" />
  </head>
  <body>
    <div id="wrap">
      <header>
        <nav id="top_menu">
          <ul>
            <li>전체</li>
            <li>치킨</li>
            <li>버거</li>
            <li>한식</li>
            <li>일식</li>
            <li>중식</li>
            <li>구이</li>
          </ul>
          <hr />
        </nav>
      </header>
      <div id="store_category">
        <div class="store_box">
          <a><img src="../public/images/볶음밥.png" alt="음식점 이미지" /></a>
          <div>
            <p>볶음밥잇츄-인동점</p>
            <div class="rating">
              <img src="../public//images/Untitled-2.png" /><span>4.0</span>
            </div>
          </div>
        </div>
        <div class="store_box">
          <a><img src="../public/images/볶음밥.png" alt="음식점 이미지" /></a>
          <div>
            <p>볶음밥잇츄-인동점</p>
            <div class="rating">
              <img src="../public//images/Untitled-2.png" /><span>4.0</span>
            </div>
          </div>
        </div>
        <div class="store_box">
          <a><img src="../public/images/볶음밥.png" alt="음식점 이미지" /></a>
          <div>
            <p>볶음밥잇츄-인동점</p>
            <div class="rating">
              <img src="../public//images/Untitled-2.png" /><span>4.0</span>
            </div>
          </div>
        </div>
        <div class="store_box">
          <a><img src="../public/images/볶음밥.png" alt="음식점 이미지" /></a>
          <div>
            <p>볶음밥잇츄-인동점</p>
            <div class="rating">
              <img src="../public//images/Untitled-2.png" /><span>4.0</span>
            </div>
          </div>
        </div>
        <div class="store_box">
          <a><img src="../public/images/볶음밥.png" alt="음식점 이미지" /></a>
          <div>
            <p>볶음밥잇츄-인동점</p>
            <div class="rating">
              <img src="../public//images/Untitled-2.png" /><span>4.0</span>
            </div>
          </div>
        </div>
      </div>
      <nav id="nav">
        <img src="../public/images/home_FILL0_wght400_GRAD0_opsz48.png" />
        <img src="../public/images/favorite_FILL0_wght400_GRAD0_opsz48.png" />
        <img
          src="../public/images/text_snippet_FILL0_wght400_GRAD0_opsz48.png"
        />
        <img src="../public/images/person_FILL0_wght400_GRAD0_opsz48.png" />
      </nav>
    </div>
  </body>
</html>
