{% extends 'layout.html' %} {% block content %}

<header>
  <img src="/images/banner.png" alt="광고 배너" />
</header>
<div id="search">
  <input class="search" type="text" />
  <span class="material-symbols-sharp lens"> search </span>
</div>
<div id="offline">
  <img src="/images/띵동마트.png" />
  <img src="/images/편의점.png" />
  <img src="/images/포장.png" />
  <img src="/images/선물하기.png" />
</div>
<div id="food_category">
  <img src="/images/total.png" />
  <img src="/images/chi.png" />
  <img src="/images/버거.png" />
  <img src="/images/한식.png" />
  <img src="/images/일식.png" />
  <img src="/images/족발.png" />
  <img src="/images/고기.png" />
  <img src="/images/분식.png" />
  <img src="/images/샐러드.png" />
  <img src="/images/일식.png" />
  <img src="/images/죽.png" />
  <img src="/images/중국집.png" />
</div>

{% endblock %}
