{% extends 'layout.html' %} {% block content %}
<div id="address">인동23길 4</div>
<header>
  <img class="banner1" src="/images/banner.png" alt="광고 배너" />
  <img class="banner2" src="/images/banner.png" alt="광고 배너" />
  <img class="banner3" src="/images/banner.png" alt="광고 배너" />
</header>
<form id="searchFrom" action="/keyword" method="get">
  <input class="search" type="text" placeholder="키워드로 검색하세요! ex)버거" name="keyword" />
  <span class="material-symbols-sharp lens" style="margin-top: 5px; margin-right: 1px;"
    onclick="document.forms[0].submit()">
    search
  </span>
</form>
<div id="offline">
  <img src="/images/띵동마트.png" />
  <img src="/images/편의점.png" />
  <img src="/images/포장.png" />
  <img src="/images/선물하기.png" />
</div>
<div id="food_category">
  <a href="/stores?category_id=1"><img src="/images/total.png" /></a>
  <a href="/stores?category_id=2"><img src="/images/chi.png" /></a>
  <a href="/stores?category_id=3"> <img src="/images/버거.png" /></a>
  <a href="/stores?category_id=4"> <img src="/images/한식.png" /></a>
  <a href="/stores?category_id=5"> <img src="/images/일식.png" /></a>
  <a href="/stores?category_id=6"><img src="/images/족발.png" /></a>
  <a href="/stores?category_id=7"><img src="/images/고기.png" /></a>
  <a href="/stores?category_id=8"><img src="/images/분식.png" /></a>
  <a href="/stores?category_id=9"><img src="/images/샐러드.png" /></a>
  <a href="/stores?category_id=10"> <img src="/images/일식.png" /></a>
  <a href="/stores?category_id=11"><img src="/images/죽.png" /></a>
  <a href="/stores?category_id=12"><img src="/images/중국집.png" /></a>
</div>
<nav id="nav">
  <img src="/images/home_FILL0_wght400_GRAD0_opsz48.png" />
  <img src="/images/favorite_FILL0_wght400_GRAD0_opsz48.png" />
  <img src="/images/text_snippet_FILL0_wght400_GRAD0_opsz48.png" />
  <a href="/store_create"><img src="/images/person_FILL0_wght400_GRAD0_opsz48.png" /></a>
</nav>
<div id="address_modal">
  <div id="modal_up">
    <h2>[ 주소 설정 ]</h2>
    <div><img src="/images/home_FILL0_wght400_GRAD0_opsz48.png" /></div>
    <div class="now_address">인동23길 4</div>
    <div class="change_button">
      <a>변경</a>
      <div></div>
    </div>
  </div>
  {% endblock %} {% block script %}
  <script>
    axios.get('/addressOne')
      .then(function (response) {
        console.log(response)
      }).catch(function (error) {
        // 오류발생시 실행
      }).then(function () {
        // 항상 실행
      });

    const imgs = $('header > img');
    let currentIndex = 0;

    const slideRight = function () {
      currentIndex = (currentIndex + 1) % imgs.length;
      updateTransform();
    };

    const slideLeft = function () {
      currentIndex = (currentIndex - 1 + imgs.length) % imgs.length;
      updateTransform();
    };

    const updateTransform = function () {
      const offset = -currentIndex * 120;
      imgs.each(function (index) {
        const translateX = offset + index * 120;
        $(this).css('transform', `translateX(${translateX}%)`);
      });
    };

    setInterval(slideRight, 3000);
    const modal = $('#address_modal');
    $('header').click(() => {
      modal.animate({ top: '100%' }, 1000);
    });
    $('#address').click(() => {
      modal.css('display', 'block');
      modal.animate({ top: '25%' }, 1000);
    });

    $('#address_modal .change_button').click((event) => {
      location.href = '/';
    });
  </script>
  {% endblock %}
</div>
