{% extends 'layout.html' %} {% block content %}
<div id="store">
  <at><label for="name">메뉴이름</label>
  <input type="text" id="name" class="menuName" placeholder="menu name" /></at>
  <at><label for="desc">메뉴설명</label>
  <input type="text" id="desc" class="menuDesc" placeholder="add information" /></at>
  <at><label for="price">메뉴가격</label>
  <input type="text" id="price"class="menuPrice" placeholder="price" /></at>
  <at><label for="img_url">메뉴사진</label>
  <input type="text" id="img_url" class="menuImg" placeholder="이미지넣을 부분" /></at>
      <button class="menuCreateBtn">등록하기</button>
  <div class="white-space"></div>
</div>
{%endblock%} {% block script %}
<script>
  const menuCreateBtn = document.querySelector('.menuCreateBtn')

  menuCreateBtn.addEventListener('click', async (e) => {
    e.preventDefault();
    const menuName = $('.menuName').val();
    const menuDesc = $('.menuDesc').val();
    const menuPrice = $('.menuPrice').val();
    const menuImg = $('.menuImg').val();

    const data = {
      name:menuName,
      desc:menuDesc,
      price:menuPrice,
      img_url: menuImg
    }

    await axios.post('/stores/{{store_id}}/menu', data)
    .then((res) => {alert('등록완료')})
  })
</script>
{%endblock%}