{% extends 'layout.html' %} {% block content %}
<h3 id="dibs-title">찜 목록</h3>

<div id="dibs-list">
  {% for dibs in myDibs %}
  <div class="dibs-box">
    <a href="/stores/detail?store_id={{dibs.store_id}}"
      ><img src="{{dibs.img_url}}" alt="음식점 이미지"
    /></a>
    <a href="/stores/detail?store_id={{dibs.store_id}}">
      <p>{{dibs.name}}</p>
      <div class="rating">
        <img src="/images/Untitled-2.png" /><span>{{dibs.rating}}</span>
      </div>
    </a>
  </div>
  {% endfor %}

  <nav id="nav2">
    <a href="/main"
      ><img src="/images/home_FILL0_wght400_GRAD0_opsz48.png"
    /></a>
    <a><img src="/images/favorite_FILL0_wght400_GRAD0_opsz48.png" /></a>
    <a><img src="/images/text_snippet_FILL0_wght400_GRAD0_opsz48.png" /></a>
    <a><img src="/images/person_FILL0_wght400_GRAD0_opsz48.png" /></a>
  </nav>
</div>
{% endblock %}
