<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>띵동</title>
    <link rel="stylesheet" href="../public/style.css" />
    <link rel="stylesheet" href="../public/stores.css" />
    <link rel="stylesheet" href="../public/storesDetail.css" />
    <link rel="stylesheet" href="../public/loading.css" />
    <link rel="stylesheet" href="../public/order.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

    <div id="wrap">
        <div>
            <div id="top">
                <a href="/main"><img id='home' src="../public/images/home_FILL0_wght400_GRAD0_opsz48.png"
                        style="width:30px; height:30px; float: right; margin-left: 250px;" /></a>
                <img src="../public/images/back.png" style="width:20px; height:20px; margin-top: 5px;"
                    onclick="window.history.back()" />
            </div>
            <div>
                <div id="titleDiv">
                    <p style="font-size: 30px; font-weight: bold;">주문 내역 상세</p>
                </div>
            </div>
            <div style="margin-top: 70px;">
                <div id="orderAdress">
                    <p style="font-size:larger; font-weight: bold; margin-bottom: 10px;">주소</p>
                    <p style="word-break: keep-all; line-height: 1.5;">{{orderDetail.address}}</p>
                    <hr style="border: solid 1px rgb(202, 25, 84);">
                    <p style="margin-top: 40px; font-size:larger; font-weight: bold; margin-bottom: 10px;">결제</p>
                    <p style="float: right;">{{orderDetail.price}}원&nbsp&nbsp&nbsp</p>
                    <p>결제금액: </p>
                    <hr style="border: solid 1px rgb(202, 25, 84);">
                    <p style=" margin-top: 40px; font-size:larger; font-weight: bold; margin-bottom: 10px;">주문 상태</p>
                    <!-- {% if status === 0 %} -->
                    <button id="orderdelete">삭제</button>
                    <p style=" line-height: 1.5;">주문 취소</p>
                    <!-- {%elif status === 1 %} -->
                    <!-- <p style="line-height: 1.5;">주문 요청</p> -->
                    <!-- {% if status === 2 %} -->
                    <!-- <p style="line-height: 1.5;">조리중</p> -->
                    <!-- {%elif status === 3 %} -->
                    <!-- <p style="line-height: 1.5;">배달중</p> -->
                    <!-- {%elif status === 4 %} -->
                    <!-- <p style="line-height: 1.5;">배달 완료</p> -->
                    <hr style="border: solid 1px rgb(202, 25, 84); margin-top: 10px;">
                </div>
            </div>
        </div>
        <div>
            <nav id="nav3">
                <a href="/main"><img src="/images/home_FILL0_wght400_GRAD0_opsz48.png" /></a>
                <a><img src="/images/favorite_FILL0_wght400_GRAD0_opsz48.png" /></a>
                <a><img src="/images/text_snippet_FILL0_wght400_GRAD0_opsz48.png" /></a>
                <a><img src="/images/person_FILL0_wght400_GRAD0_opsz48.png" /></a>
            </nav>
        </div>
    </div>


</body>

<!-- {% endblock %} {% block script %} -->
<script>
    const orderDeleteBtn = document.getElementById('orderdelete');

    orderDeleteBtn.addEventListener('click', async (e) => {
        e.preventDefault();

        await axios.delete('/orders/:{{order.order_id}}')
            .then((res) => { alert('등록완료') })

        window.location.href = "/userOrders";
    }
    )
</script>
<!-- {%endblock%} -->

</html>