<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>띵동</title>
    <link rel="stylesheet" href="../public/style.css" />
    <link rel="stylesheet" href="../public/stores.css" />
    <!-- <link rel="stylesheet" href="../public/storesDetail.css" /> -->
    <link rel="stylesheet" href="../public/loading.css" />
    <link rel="stylesheet" href="../public/order.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

    <div id="wrap">
        <div id="order_scroll_container">
            <div id="top">
                <a href="/main"><img id='home' src="../public/images/home_FILL0_wght400_GRAD0_opsz48.png"
                        style="width:30px; height:30px; float: right; margin-left: 250px;" /></a>
                <img src="../public/images/back.png" style="width:20px; height:20px; margin-top: 5px;"
                    onclick="window.history.back()" />
            </div>
            <div>
                <div id="titleDiv">
                    <p style="font-size: 30px; font-weight: bold;">주문 목록</p>
                </div>
            </div>
            <div style="margin-top: 50px;">
                <!-- {% for menu in store.store.menu %} -->
                <div id="menus">
                    <p style="float: right;">{{몇}}개 &nbsp</p>
                    <p style="white-space : nowrap; overflow : hidden; text-overflow : ellipsis;">{{메뉴이름}}</p>
                    <hr style="border: solid 1px rgb(202, 25, 84);">
                </div>
                <!-- {% endfor %} -->
                <div id="menus" style="margin-top: 60px; padding-bottom: 300px;">
                    <p style="float: right; font-weight: bold;">{{몇}}원 &nbsp</p>
                    <p style="font-weight: bold;">결제 예정금액:&nbsp;</p>
                    <hr style="border: solid 1px rgb(25, 202, 105);">
                </div>
            </div>
        </div>
        <nav id="nav5">
            <a href="/order">
                <p style="font-size: 30px; font-weight: bold; margin-top: 10px; margin-bottom: 10px;">주문 하러 가기
                </p>
            </a>
        </nav>
    </div>
</body>

</html>