{% extends 'layout.html' %} {% block content %}
<div id="review-box">
  <div id="review-content">
    <select name="" id="">
      <option value="0">별점</option>
      <option value="1">⭐</option>
      <option value="2">⭐⭐</option>
      <option value="3">⭐⭐⭐</option>
      <option value="4">⭐⭐⭐⭐</option>
      <option value="5">⭐⭐⭐⭐⭐</option></select
    ><br />
    <textarea
      name=""
      id=""
      cols="30"
      rows="10"
      placeholder="리뷰를 남겨주세요."
    ></textarea>
    <input type="file" /><br />
    <button>리뷰 등록</button>
  </div>
</div>
{% endblock %}
