{% extends 'layout.html' %} {% block content %}
<div class="black-space">
  <div id="store">
    <form class="storeForm" action="/stores" method="post">
      <p><label>가게이름</label>
        <input type="text" class="storeName" placeholder="store name" /></p>
        <p><label>전화번호</label>
        <input type="text" class="storeCall" placeholder="call number" /></p>
        <p><label>카테고리</label>
          <select class="category_id">
            <option value="1">전체</option>
            <option value="2">치킨</option>
            <option value="3">버거</option>
            <option value="4">한식</option>
            <option value="5">족발</option>
            <option value="6">고기</option>
            <option value="7">분식</option>
            <option value="8">샐러드</option>
            <option value="9">일식</option>
            <option value="10">죽</option>
            <option value="11">중식</option>
          </select></p>
        <p><label>가게주소</label>
        <input type="text" class="storeAddress" placeholder="address" /></p>
        <p><label>가게설명</label>
        <input type="text" class="storeContent" placeholder="content" /></p>
        <p><label>가게사진</label>
        <input type="text" class="storeImg" placeholder="이미지넣을 부분" /></p>
        <p><button type="submit" class="storeCreateBtn">등록하기</button></p>
    </form>
  </div>
</div>

{%endblock%} {% block script %}
<script>
  const storeCreateBtn = $('.storeCreateBtn');

  storeCreateBtn.addEventListener('click', async (e) => {
    e.preventDefault();
    const storeName = document.querySelector('.storeName').value;
    console.log(storeName);
    const storeCall = document.querySelector('.storeCall').value;
    const storeCategory = document.querySelector('.storeCategory').value;
    const storeAddress = document.querySelector('.storeAddress').value;
    const storeContent = document.querySelector('.storeContent').value;
    const storeImg = document.querySelector('.storeImg').value;
    const data = {
      storeName: storeName,
      storeCall: storeCall,
      storeCategory: '1',
      storeAddress: storeAddress,
      storeContent: storeContent,
      storeImg: storeImg,
    }
    await axios.post('/stores', data, {
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .then((res) => {alert('등록완료')})
  }
  )
</script>
{%endblock%}