{% extends 'layout.html' %} {% block content %}
<!-- <div class="black-space"> -->
  <div id="store">
   
      <r id="createdesc"><label>가게이름</label>
        <input type="text" class="storeName" name="name" id="storeinput" placeholder="store name" /></r>
      <r id="createdesc"><label>전화번호</label>
        <input type="text" class="storeCall" name="call" id="storeinput" placeholder="call number" /></r>
      <r id="createdesc"><label>카테고리</label>
        <select name="category" class="category_id">
          <option value="2">치킨</option>
          <option value="3">버거</option>
          <option value="4">한식</option>
          <option value="5">족발</option>
          <option value="6">고기</option>
          <option value="7">분식</option>
          <option value="8">샐러드</option>
          <option value="9">일식</option>
          <option value="10">죽</option>
          <option value="11">중식</option>
        </select></r>
      <r id="createdesc"><label>가게주소</label>
        <input type="text" name="address" class="storeAddress" id="storeinput" placeholder="address" /></r>
      <r id="createdesc"><label>가게설명</label>
        <input type="text" name="content" class="storeContent" id="storeinput" placeholder="content" /></r>
      <r id="createdesc"><label>가게사진</label>
        <input type="text" class="storeImg" name="img_url" id="storeinput" placeholder="이미지넣을 부분" /></r>
      <r id="createdesc"><button  class="storeCreateBtn">등록하기</button></r>

      <a href="/getStoreIdToPost"><img src="/images/person_FILL0_wght400_GRAD0_opsz48.png" /></a>
    
  </div>
</div>

{%endblock%} {% block script %}
<script>

  const storeCreateBtn = document.querySelector('.storeCreateBtn');
  
  storeCreateBtn.addEventListener('click', async (e) => {
    e.preventDefault();
    const storeName = document.querySelector('.storeName').value;

    const storeCall = document.querySelector('.storeCall').value;
    
    const categoryId= $('.category_id').val();

    const storeAddress = document.querySelector('.storeAddress').value;
   
    const storeContent = document.querySelector('.storeContent').value;
    
    const storeImg = document.querySelector('.storeImg').value;
    
    const data = {
      name: storeName,
      call: storeCall,
      category_id: categoryId,
      address: storeAddress,
      content: storeContent,
      img_url: storeImg,
    } 
   
    await axios.put('/stores/{{store_id}}', data)
    .then((res) => {alert('수정완료')})
  } 
  )
</script>
{%endblock%}