/* html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,

#search {
  width: 19em;
  height: 2em;
  border: 2px solid #424242;
  border-radius: 10px;
  margin-top: 80px;
  margin-left: 22px;
  display: grid;
  grid-template-columns: 1fr 30px;
}
#search input {
  width: 10rem;
  border: none;
  border-radius: 20px;
  outline: none;
  padding-left: 10px;
}
.lens {
  width: 20px;
  margin-left: 0;
  line-height: 30px;
  cursor: pointer;
}
#offline {
  width: 20rem;
  height: 5rem;
  margin-top: 85px;
  margin-left: 13px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#offline img {
  width: 75px;
  border-radius: 10px;
  margin-left: 5px;
  cursor: pointer;
}
#food_category {
  width: 300px;
  margin-top: 50px;
  margin-left: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
#food_category img {
  cursor: pointer;
}
#nav {
  width: 320px;
  margin-top: 80px;
  margin-left: 48px;
  bottom: 370px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#nav img {
  width: 30px;
  cursor: pointer;
}

#store {
  margin-top: 80px;
  margin-left: 20px;
}

/* button {
  align-items: center;
  background: #212529;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

input {
  width: 190px;
  height: 20px;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 1;
  outline: none;
}

p {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  grid-gap: 5px;
  padding-top: 20px;
  margin-right: 20px;
  background-color: white;
}

q {
  display: grid;
  grid-gap: 10px;
  padding: 5px;
  margin-right: 20px;
  text-align: center;
  background-color: white;
}

r {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  margin-right: 20px;
  background-color: white;
}

v {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  margin-right: 20px;
  background-color: white;
}

t {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 20px;
  margin-right: 20px;
} */
